* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: wheat;
}
body {
  background: linear-gradient(
    120deg,
    rgba(255, 177, 66, 1),
    rgba(253, 203, 110, 1)
  );
}

main h1 {
  color: #555;
  text-transform: uppercase;
  font: Arial;
  margin: 0 auto;
  text-align: center;
}

.feature {
  color: snow;
  background-color: indianred;
  width: 75%;
  margin: 5vh auto;
  padding: 3rem;
  border-radius: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.75rem;
  text-align: center;
}

.feature h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  margin-bottom: 2.5rem;
  border-bottom: 0.5rem solid rgba(253, 203, 110, 1);
  width: 75%;
}

.component-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}

.component-wrapper p {
  flex: 3;
  text-align: left;

  float: left;
}

.component-wrapper .amount {
  flex: 1;
  text-align: center;
}

.component-wrapper img {
  width: 10%;
}

/*features*/

#add-feature-btn {
  border: none;
  background: white;
  color: transparent;
  transition: all 0.3s ease;
  flex: 1;
}

#add-feature-btn:hover {
  background: #333;
}

#add-feature-btn:hover i {
  color: white;
}

#add-feature-btn i {
  transition: all 0.3s ease;
  color: #333;
  padding: 1px;
}

#functioanlities {
  border: none;
  flex: 2;
}

#features {
  display: flex;
  justify-content: center;
  width: 25vw;
  margin: 0 auto;
  height: 4vh;
  text-align: center;
  margin-top: 2.5rem;
}

/*table*/

table {
  width: 75vw;
  margin: 2vh auto;
  background: #777;
  border-radius: 15px 15px 0 0;
  border-bottom: 1rem solid indianred;
  box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.25);
}

td,
th {
  flex: 1;
  margin: 1rem;
}

tr {
  display: flex;
}

th {
  background: #4caf5c;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.table-component {
  display: flex;
  flex-direction: row;
  padding: 0.75rem;
  border-radius: 25px;
  justify-content: space-evenly;
  margin: 0.5rem 0.1rem;
  background: #333;
  border-bottom: 3px solid indianred;
}

.table-component:hover {
  background: #555;
}

.table-component img {
  flex: 2;
  max-width: 25%;
  max-height: 25%;
  pointer-events: none;
}

.table-component p {
  pointer-events: none;
  flex: 1;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tippy-box[data-theme~="tooltip"] {
  background-color: #333;
  color: #4caf5c;
  font-family: Arial, Helvetica, sans-serif;
}
